@using VotingApp.Models
@model VotingApp.Models.VoteViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Please cast your vote!</h1>

        <form asp-action="Vote">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="radio" name="Choice" value="Yes" />Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="Choice" value="No" />No
            </div>
            <div class="form-group">
                <input type="submit" value="Vote" />
            </div>
        </form>
        <br /><br /><br />

        <div>
            <h2>Voting Results</h2>
            <div>Yes: @Model.Yes</div>
            <div>No: @Model.No</div>
            <br /><br /><br />
            <div><h2>WINNER: @Model.Winner</h2></div>
        </div>



        <form asp-action="Reset">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Reset" />
            </div>
        </form>
    </div>
